header{
	margin:0 auto;
	display: block;
	width:100%;
	text-align: center;
}
header h1{
	margin-top:30px;
	margin-bottom:15px;
	font-size:70px;
	font-weight:500;
	color:#333;
}
header a{
	margin:0 auto;
	display:block;
	width:140px;
	height:40px;
	text-decoration:none;
	line-height: 40px;
	color:#fff;
	border-radius:5px;
	background-color: rgb(0,204,204);
}
header #newgameButton:hover{
	background-color: rgb(0,187,187);
	color:#ddd;
}
header p{
	margin-top:15px;
	margin-bottom:15px;
	font-size:28px;
	font-weight: 500;
}
header span{
	font-size:21px;
}

#grid-container{
	position:relative;
	margin:0 auto;
	width:435px;
	height:435px;
	padding:20px;
	background-color:rgba(102,153,153,.4);
	/*background-color: #fff;*/
	border:2px solid rgba(102,153,153,.9);
	/*box-shadow:1px 1px 7px #aaa;*/
	border-radius:11px;
}
.grid-cell{
	position:absolute;
	display: block;
	width:98px;
	height:98px;
	border-radius:5px;
	background-color:rgba(0,177,177,.3);
	/*background-color: #eee;*/
	/*border:1px solid rgba(102,153,153,.75);*/
}
.number-cell{
	position:absolute;
	display: block;
	font-weight: bold;
	line-height: 98px;
	text-align:center;
	border-radius:5px;
}

#cover{
	position: absolute;
	top:0;
	right:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 3;

	background-color: #000;

	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacityï¼š0.8;
}

#gameover{
	position: fixed;
	color:#eee;
	font-size:55px;
	text-align:center;
	z-index: 4;
}